<section class="phx-hero">
    <div phx-window-keydown="keystroke">
        <h1>Game over!</h1>
        <h2>Your Score: <%= @game.score %></h2>
        <button phx-click="Play">Play again?</button>
    </div>
</section>
