<section class="phx-hero">
    <div phx-window-keydown="keystroke">
        <h1>Welcome to TetrisLive!</h1> 
        <h2>Stack 'em up!</h2>
        <button phx-click="Play">Play</button>
    </div>
</section>
